
@{
    ViewData["Title"] = "Welcome to my banking";
}

<h1>LoginPage</h1>
<div>
    <input type="text" name="userName" value="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
    <input type="password" name="UserPassword" value="" class="form-control" id="exampleInputPassword1" />
    <input type="button" name="UserName_btn" value="submit" class="btn btn-primary" />
</div>

